  // Colors
  $primary: #e91e63;
  $primaryDark: #c51952;
  $tint-0: rgb(0,0,0);
  $tint-5: rgb(5,5,5);
  $tint-10: rgb(10,10,10);
  $tint-15: rgb(150,150,150);
  $tint-20: rgb(200,200,200);
  $tint-23: rgb(230,230,230);
  $tint-25: rgb(255,255,255);