* {
  box-sizing: border-box;
}

input {
  font-family: 'PT Sans Narrow', sans-serif;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  cursor: pointer;
  font-size: 18px;
  border: 0;

  &:focus {
    outline: none;
  }
}

[class^="icon"] {
  font-style: normal;
  line-height:1em;
}